src/Models/Inst/BuildInst/BuildInst.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


  <define name="BuildInst">
    <element name="BuildInst">

      <oneOrMore>
        <element name="facility">
          <element name="type">
            <data type="string"/>
          </element>
          <element name="name">
            <data type="string"/>
          </element>
        </element>
      </oneOrMore>       

    </element>
  </define>



</grammar>
