src/Models/Converter/SWUeUF6Converter/SWUeUF6Converter.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <define name="SWUeUF6Converter">
    <element name="SWUeUF6Converter">
      <element name="incommodity">
        <text/>
      </element>
      <element name="outcommodity">
        <text/>
      </element>
    </element>
  </define>

</grammar>
