share/cyclus.rng.in

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<start>

<element name="simulation">
  <optional><element name="schematype"><text/></element></optional>
<interleave>

  <optional><element name="ui"><text/></element></optional>
  
  <element name ="control">
    <interleave>
      <optional>
        <element name="simhandle"> <data type="string"/> </element>
      </optional>
      <element name="duration"> <data type="nonNegativeInteger"/> </element>
      <element name="startmonth"> <data type="nonNegativeInteger"/> </element>
      <element name="startyear"> <data type="nonNegativeInteger"/> </element>
      <optional>
        <element name="decay"> <text/> </element>
      </optional>
      <optional> 
        <element name="dt"><data type="nonNegativeInteger"/></element> 
      </optional>
      <optional>
        <element name="explicit_inventory"> <data type="boolean"/> </element>
      </optional>
      <optional>
        <element name="explicit_inventory_compact"> <data type="boolean"/> </element>
      </optional>
      <optional>
          <element name="tolerance_generic"><data type="double"/></element>
      </optional>
      <optional>
          <element name="tolerance_resource"><data type="double"/></element>
      </optional>
      <optional>
          <element name="seed"><data type="positiveInteger" /></element>
      </optional>
      <optional>
          <element name="stride"><data type="positiveInteger" /></element>
      </optional>
      <optional>
        <element name="solver"> 
          <interleave>
            <optional><element name="config">
            <choice>
              <element name="greedy">
                <interleave>
                  <optional>
                    <element name="preconditioner"> <text/> </element>
                  </optional>
                </interleave>
              </element>
              <element name="coin-or">
                <interleave>
                  <optional>
                    <element name="timeout">  <data type="positiveInteger"/>  </element>
                  </optional>
                  <optional><element name="verbose"><data type="boolean"/></element></optional>
                  <optional><element name="mps"><data type="boolean"/></element></optional>
                </interleave>
              </element>
            </choice>
            </element></optional>
            <optional>
              <element name="allow_exclusive_orders">
                <data type="boolean" />
              </element>
            </optional>
            <optional><!--deprecated. @TODO remove in release 1.5 -->
              <element name="exclusive_orders_only">
                <data type="boolean" />
              </element>
            </optional>
          </interleave>
        </element>
      </optional>
    </interleave>
  </element>

  <zeroOrMore>
    <element name="commodity">
      <interleave>
        <element name="name"> <text/> </element>
        <element name="solution_priority"> <data type="double"/> </element>
      </interleave>
    </element>
  </zeroOrMore>
    
  <element name="archetypes"> 
    <oneOrMore>
      <element name="spec">
        <interleave>
          <optional><element name="path"><text/></element></optional>
          <optional><element name="lib"><text/></element></optional>
          <element name="name"><text/></element>
          <optional><element name="alias"><text/></element></optional>
        </interleave>
      </element>
    </oneOrMore>
  </element>

  <oneOrMore>
    <element name="facility">
      <interleave>
        <element name="name"> <text/> </element>
        <optional>
          <element name="lifetime"> <data type="nonNegativeInteger"/> </element>
        </optional>

        <element name="config">
          <choice>
          @Facility_REFS@
          </choice>
        </element>
      </interleave>
    </element>
  </oneOrMore>

  <oneOrMore>
    <element name="region"> <interleave>
      <element name="name"> <text/> </element>
      <optional>
        <element name="lifetime"> <data type="nonNegativeInteger"/> </element>
      </optional>

      <element name="config">
        <choice>
        @Region_REFS@
        </choice>
      </element>

      <oneOrMore>
        <element name="institution"> <interleave>
          <element name="name"> <text/> </element>
          <optional>
            <element name="lifetime"> <data type="nonNegativeInteger"/> </element>
          </optional>

          <optional>
            <element name="initialfacilitylist">
              <oneOrMore>
                <element name="entry">
                  <interleave>
                    <element name="prototype"> <text/> </element>
                    <element name="number"> <data type="nonNegativeInteger"/> </element>
                  </interleave>
                </element>
              </oneOrMore>
            </element>
          </optional>

          <element name="config">
            <choice>
            @Inst_REFS@
            </choice>
          </element>
        </interleave> </element>
      </oneOrMore>

    </interleave> </element>
  </oneOrMore>

  <zeroOrMore>
    <element name="recipe">
      <interleave>
        <element name="name"><text/></element>
        <element name="basis"><text/></element>
        <oneOrMore>
          <element name="nuclide">
            <interleave>
              <element name="id"><data type="string"/></element>
              <element name="comp"><data type="double"/></element>
            </interleave>
          </element>
        </oneOrMore>
      </interleave>
    </element>
  </zeroOrMore>

  <zeroOrMore>
    <element name="package">
      <interleave>
        <element name="name"><text/></element>
        <element name="fill_min"><data type="double"/></element>
        <element name="fill_max"><data type="double"/></element>
        <element name="strategy"><text/></element>
      </interleave>
    </element>
  </zeroOrMore>

</interleave> </element>

</start>

</grammar>
