share/cyclus-flat.rng.in

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<start>
<element name="simulation">
<interleave>

  <element name ="control">
    <interleave>
      <optional>
        <element name="simhandle"><data type="string"/></element>
      </optional>
      <element name="duration"><data type="nonNegativeInteger"/></element>
      <element name="startmonth"><data type="nonNegativeInteger"/></element>
      <element name="startyear"><data type="nonNegativeInteger"/></element>
    </interleave>
  </element>

  <oneOrMore>
    <element name="commodity">
      <element name="name"><text/></element>
    </element>
    <optional>
      <element name="solution_order"><data type="double"/></element>
    </optional>
  </oneOrMore>

  <oneOrMore>
    <element name="prototype">
    <interleave>
      <element name="name"><text/></element>
      <element name="module"> 
        <optional><element name="path"><text/></element></optional>
        <optional><element name="lib"><text/></element></optional>
        <element name="agent"><text/></element>
        <optional><element name="alias"><text/></element></optional>
      </element>
      <optional>
        <element name="lifetime"> <data type="nonNegativeInteger"/> </element>
      </optional>

      <!-- For compatibility with nested schema format -->
      <!-- Facility/Inst/Region specific data -->
      <optional>
        <choice>
          <oneOrMore>
            <element name="allowedfacility"><text/></element>
          </oneOrMore>

          <optional>
            <oneOrMore>
              <element name="availableprototype"> <text/> </element>
            </oneOrMore>
          </optional>

        </choice>
      </optional>
      <!-- end compatibility section -->

      <element name="agent">
        <choice>
          @MODEL_SCHEMAS@
        </choice>
      </element>

    </interleave>
    </element>
  </oneOrMore>

  <oneOrMore>
    <element name="agent">
      <element name="name"><text/></element>
      <element name="prototype"><text/></element>
      <optional>
        <element name="parent"><text/></element>
      </optional>
    </element>
  </oneOrMore>

  <zeroOrMore>
    <element name="recipe">
      <element name="name"><text/></element>
      <element name="basis"><text/></element>
      <oneOrMore>
        <element name="nuclide">
          <element name="id"><data type="integer"/></element>
          <element name="comp"><data type="double"/></element>
        </element>
      </oneOrMore>
    </element>
  </zeroOrMore>

</interleave>
</element><!-- end of simulation -->
</start>
</grammar>

