src/cyclus.ng.xsd

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
  <element name="simulation">

    <oneOrMore>
    <ref name="commodity"/>
    </oneOrMore>
  
    <oneOrMore>
    <ref name="market"/>
    </oneOrMore>
      
    <oneOrMore>
    <ref name="facility"/>
    </oneOrMore>

    <oneOrMore>
    <ref name="region"/>
    </oneOrMore>

    <oneOrMore>
    <ref name="recipe"/>
    </oneOrMore>
  </element>
  </start>

  <!-- begin section for commodities -->
  <define name="commodity">
    <element name="commodity">

      <element name="name">
        <text/>
      </element>

    </element>
  </define>
  <!-- end section for commodities -->

  <!-- begin section for markets-->
  <define name="market">
    <element name="market">

      <element name="name">
        <text/>
      </element>

      <element name="mktcommodity">
        <text/>
      </element>

      <element name="model">
      <choice>
        <ref name="StubMarket"/>
        <!-- insert ref to new marketmodel parameter sets here -->
      </choice>
      </element>

    </element>
  </define>

  <define name="StubMarket">
     <element name="StubMarket">
        <text />
     </element>
  </define>

  <!-- insert new marketmodel parameter sets here -->

  <!-- end section for markets-->

  <!-- begin section for facilities -->
  <define name="facility">
    <element name="facility">

      <element name="name">
        <text/>
      </element>

      <oneOrMore>
      <element name="incommodity">
          <text/>
      </element>
      </oneOrMore>

      <oneOrMore>
      <element name="outcommodity">
         <text/>
      </element>
      </oneOrMore>

      <element name="model">
      <choice>
        <ref name="StubFacility"/>
        <!-- insert ref to new facilitymodel parameter sets here -->
      </choice>
      </element>

    </element>
  </define>

  <define name="StubFacility">
     <element name="StubFacility">
        <text/>
     </element>
  </define>

  <!-- insert new facilitymodel parameter sets here -->

  <!-- end section for facilities -->


  <!-- begin section for regions -->
  <define name="region">
    <element name="region">

      <element name="name">
         <text/>
      </element>

      <oneOrMore>
      <element name="allowedfacility">
          <text/>
      </element>
      </oneOrMore>

      <element name="model">
      <choice>
        <ref name="StubRegion"/>
        <!-- insert ref to new facilitymodel parameter sets here -->
      </choice>
      </element>

    </element>
  </define>

  <define name="StubRegion">
     <element name="StubRegion">
        <text/>
     </element>
  </define>

  <!-- insert new regionmodel parameter sets here -->

  <!-- end section for regions -->


  <!-- begin section for recipes -->
  <define name="recipe">
    <element name="recipe">

      <element name="name">
        <text/>
      </element>

      <element name="basis">
        <text/>
      </element>

      <element name="total">
        <text/>
      </element>

      <oneOrMore>
      <element name="isotope">
        <element name="id">
          <text/>
        </element>
        <element name="comp">
          <text/>
        </element>
      </element>
      </oneOrMore>

    </element>
  </define>
  <!-- end section for recipes -->

</grammar>


    
