src/cyclus.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
  <choice>

  <!-- top level for a SIMULATION input -->

  <element name="simulation">

    <interleave>

    <ref name="duration"/>

    <ref name="startmonth"/>

    <ref name="startyear"/>

    <ref name="simstart"/>

    <ref name="decay"/>

    <oneOrMore>
    <ref name="commodity"/>
    </oneOrMore>
  
    <oneOrMore>
    <ref name="market"/>
    </oneOrMore>
      
    <oneOrMore>
    <choice>
    <ref name="facility"/>
    <ref name="facilitycatalog"/>
    </choice>
    </oneOrMore>

    <oneOrMore>
    <ref name="region"/>
    </oneOrMore>

    <oneOrMore>
    <choice>
    <ref name="recipe"/>
    <ref name="recipebook"/>
    </choice>
    </oneOrMore>

    <zeroOrMore>
    <ref name="converter"/>
    </zeroOrMore>
    
    </interleave>

  </element>

  <!-- top level for a RECIPEBOOK input -->

  <element name="recipebook">

    <element name="name">
      <text/>
    </element>

    <oneOrMore>
    <ref name="recipe"/>
    </oneOrMore>

  </element>

  <!-- top level for a FACILITYCATALOG input -->

  <element name="facilitycatalog">

    <element name="name">
      <text/>
    </element>

    <oneOrMore>
    <ref name="facility"/>
    </oneOrMore>

  </element>

  </choice>
  </start>

  <!-- begin section for simulation parameters -->
  <define name="duration">
    <element name="duration">
      <data type="nonNegativeInteger"/>
    </element>
  </define>

  <define name="startmonth">
    <element name="startmonth">
      <data type="nonNegativeInteger"/>
    </element>
  </define>

  <define name="startyear">
    <element name="startyear">
      <data type="nonNegativeInteger"/>
    </element>
  </define>

  <define name="simstart">
    <element name="simstart">
      <data type="nonNegativeInteger"/>
    </element>
  </define>

  <define name="decay">
    <element name="decay">
      <data type="integer"/>
    </element>
  </define>

  <!-- begin section for commodities -->
  <define name="commodity">
    <element name="commodity">

      <element name="name">
        <text/>
      </element>

    </element>
    <optional>
      <element name="enrichment">
        <data type="double"/>
      </element>
    </optional>
  </define>
  <!-- end section for commodities -->

  <!-- begin section for markets-->
  <define name="market">
    <element name="market">

      <element name="name">
        <text/>
      </element>

      <element name="mktcommodity">
        <text/>
      </element>

      <element name="model">
      <choice>
        <ref name="ConverterMarket"/>
        <ref name="GreedyMarket"/>
        <ref name="NullMarket"/>
        <ref name="StubMarket"/>
        <!-- insert ref to new MarketModels  here -->
      </choice>
      </element>

    </element>
  </define>

  <define name="ConverterMarket">
    <element name="ConverterMarket">
        <element name="offercommodity">
          <text/>
        </element>
        <element name="reqcommodity">
          <text/>
        </element>

        <oneOrMore>
          <element name="converter">
            <element name="type">
              <text/>
            </element>
            <element name="name">
              <text/>
            </element>
          </element>
        </oneOrMore>       
          
    </element>
  </define> 

  <define name="GreedyMarket">
     <element name="GreedyMarket">
        <text />
     </element>
  </define>

  <define name="NullMarket">
     <element name="NullMarket">
        <text />
     </element>
  </define>

  <define name="StubMarket">
     <element name="StubMarket">
        <text />
     </element>
  </define>


  <!-- insert new MarketModel parameter sets here -->

  <!-- end section for markets-->

  <!-- begin section for facilities -->
  <define name="facility">
    <element name="facility">

      <element name="name">
        <text/>
      </element>

      <element name="model">
      <choice>
        <ref name="EnrichmentFacility"/>
        <ref name="GenericRepository"/>
        <ref name="NullFacility"/>
        <ref name="RecipeReactor"/>
        <ref name="SeparationsMatrixFacility"/>
        <ref name="SinkFacility"/>
        <ref name="SourceFacility"/>
        <ref name="StorageFacility"/>
        <ref name="StubFacility"/>
        <!-- insert ref to new FacilityModels here -->
      </choice>
      </element>

    </element>
  </define>

  <define name="facilitycatalog">
    <element name="facilitycatalog">

      <element name="filename">
        <text/>
      </element>

      <element name="namespace">
        <text/>
      </element>

      <element name="format">
        <text/>
      </element>

    </element>
  </define>

  <define name="StubFacility">
     <element name="StubFacility"> 
        <ref name="incommodity"/>

      <oneOrMore>
        <ref name="outcommodity"/>
      </oneOrMore>
     </element>
  </define>

  <define name="EnrichmentFacility">
     <element name="EnrichmentFacility"> 
        <ref name="incommodity"/>
        <ref name="outcommodity"/>
        <ref name="inventorysize"/>
        <ref name="capacity"/>
        <ref name="tailsassay"/>
     </element>
  </define>

  <define name="GenericRepository">
     <element name="GenericRepository"> 
        <ref name="area"/>
        <ref name="capacity"/>
        <element name="incommodity">
          <text/>
        </element>
        <ref name="inventorysize"/>
        <ref name="lifetime"/>
        <ref name="startOperMonth"/>
        <ref name="startOperYear"/>
     </element>
  </define>

  <define name="NullFacility">
     <element name="NullFacility"> 
        <ref name="incommodity"/>
        <ref name="outcommodity"/>
        <ref name="inventorysize"/>
        <ref name="capacity"/>
     </element>
  </define>

  <define name="RecipeReactor">
     <element name="RecipeReactor"> 
        <oneOrMore>
          <element name="fuelpair">
            <ref name="incommodity"/>
            <ref name="inrecipe"/>
            <ref name="outcommodity"/>
            <ref name="outrecipe"/>
            </element>
        </oneOrMore>

        <element name="startConstrYear">
          <data type="nonNegativeInteger"/>
          </element>
        <element name="startConstrMonth">
          <data type="nonNegativeInteger"/>
          </element>
        <ref name="startOperYear"/>
        <ref name="startOperMonth"/>
        <element name="licExpYear">
          <data type="nonNegativeInteger"/>
          </element>
        <element name="licExpMonth">
          <data type="nonNegativeInteger"/>
          </element>
        <ref name="lifetime"/>
        <element name="state">
          <text/>
          </element>
        <element name="typeReac">
          <text/>
          </element>
        <ref name="capacity"/>
        <element name="elecCF">
          <data type="double"/>
          </element>
     </element>
  </define>

  <define name="SeparationsMatrixFacility">
     <element name="SeparationsMatrixFacility"> 
        <ref name="incommodity"/>
        <ref name="outcommodity"/>
        <ref name="Stream"/>
        <ref name="inventorysize"/>
        <ref name="capacity"/>
     </element>
  </define>

  <define name="SinkFacility">
     <element name="SinkFacility"> 
        <oneOrMore>
          <ref name="incommodity"/>
        </oneOrMore>

        <ref name="capacity"/>
        <ref name="inventorysize"/>
        <ref name="commodprice"/>
     </element>
  </define>

  <define name="StorageFacility">
     <element name="StorageFacility"> 
        <oneOrMore>
          <ref name="incommodity"/>
          </oneOrMore>
        <element name="capacity">
          <text/>
          </element>
        <element name="inventorysize">
          <text/>
          </element>
        <element name="residencetime">
          <text/>
          </element>
        <element name="initialstocks">
        <zeroOrMore>
        <element name="entry">
                  <element name="facility">
                        <text/>
                      </element>
            <ref name="incommodity"/>
                  <element name="recipe">
                        <text/>
                      </element>
            <element name="amount">
                <text/>
                </element>
            <element name="age">
                <text/>
                </element>
        </element>
            </zeroOrMore>
    </element>
     </element>
  </define>

  <define name="SourceFacility">
     <element name="SourceFacility"> 
        <oneOrMore>
          <ref name="outcommodity"/>
        </oneOrMore>

        <oneOrMore>
          <ref name="capacity"/>
        </oneOrMore>

        <oneOrMore>
          <ref name="inventorysize"/>
        </oneOrMore>

        <element name="commodprice">
          <text/>
          </element>
        <element name="recipe">
          <text/>
          </element>

     </element>
  </define>

  <define name="area">
      <element name="area">
        <data type="double"/>
      </element>
  </define>

  <define name="commodprice">
      <element name="commodprice">
        <data type="double"/>
      </element>
  </define>

  <define name="capacity">
      <element name="capacity">
        <data type="double"/>
      </element>
  </define>

  <define name="lifetime">
      <element name="lifetime">
        <data type="nonNegativeInteger"/>
      </element>
  </define>
  
  <define name="tailsassay">
      <element name="tailsassay">
        <data type="double"/>
      </element>
  </define>

  <define name="inventorysize">
      <element name="inventorysize">
        <data type="double"/>
      </element>
  </define>

  <define name="inrecipe">
      <element name="inrecipe">
          <text/>
      </element>
  </define>

  <define name="outrecipe">
      <element name="outrecipe">
          <text/>
      </element>
  </define>

  <define name="incommodity">
      <element name="incommodity">
          <text/>
      </element>
  </define>

  <define name="outcommodity">
      <element name="outcommodity">
         <text/>
      </element>
  </define>

  <define name="startOperMonth">
      <element name="startOperMonth">
        <data type="nonNegativeInteger"/>
      </element>
  </define>

  <define name="startOperYear">
      <element name="startOperYear">
        <data type="nonNegativeInteger"/>
      </element>
  </define>


  <!-- insert new FacilityModel parameter sets here -->

  <!-- end section for facilities -->

  <!-- begin section for regions -->
  <define name="region">
    <element name="region">

      <element name="name">
         <text/>
      </element>

      <oneOrMore>
      <element name="allowedfacility">
          <text/>
      </element>
      </oneOrMore>

      <element name="model">
      <choice>
        <ref name="StubRegion"/>
        <ref name="NullRegion"/>
        <ref name="BuildRegion"/>
        <ref name="CapacityRegion"/>
        <!-- insert ref to new RegionModels here -->
      </choice>
      </element>

      <oneOrMore>
      <ref name="institution" />
      </oneOrMore>

    </element>
  </define>

  <define name="StubRegion">
     <element name="StubRegion">
        <text/>
     </element>
  </define>

  <define name="NullRegion">
     <element name="NullRegion">
        <text/>
     </element>
  </define>

  <define name="BuildRegion">
     <element name="BuildRegion">
        <element name="input_file">
        <text/>
    </element>
     </element>
  </define>

  <define name="CapacityRegion">
     <element name="CapacityRegion">
        <element name="input_file">
        <text/>
    </element>
    <oneOrMore>
        <element name="capacitydemand">
        <element name="capacitytype">
            <text/>
        </element>
        <element name="capacityfunction">
            <text/>
        </element>
        <element name="nominalvalue">
            <text/>
        </element>
        <oneOrMore>
        <element name="replacementlist">
            <element name="replacementfacility">
                <text/>
            </element>
        </element>
        </oneOrMore>
    </element>
    </oneOrMore>
     </element>
  </define>

  <!-- insert new RegionModel parameter sets here -->

  <!-- end section for regions -->

  <!-- begin section for institutions -->
  <define name="institution">
    <element name="institution">

      <element name="name">
         <text/>
      </element>

      <element name="model">
      <choice>
        <ref name="StubInst"/>
        <ref name="FixedInst"/>
        <ref name="DeployInst"/>
        <ref name="BuildInst"/>
        <!-- insert ref to new InstModels here -->
      </choice>
      </element>

    </element>
  </define>


  <define name="StubInst">
    <element name="StubInst">
      <text/>
    </element>
  </define>

  <define name="FixedInst">
    <element name="FixedInst">

      <oneOrMore>
        <element name="facility">
          <element name="type">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </oneOrMore>       

    </element>
  </define>

  <define name="DeployInst">
    <element name="DeployInst">

      <oneOrMore>
      <ref name="deploy"/>
      </oneOrMore>       

    </element>
  </define>

  <define name="BuildInst">
    <element name="BuildInst">

      <oneOrMore>
        <element name="facility">
          <element name="type">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </oneOrMore>       

    </element>
  </define>


  <define name="deploy">
    <element name="deploy">

      <element name="type">
        <text/>
      </element>   

      <element name="name">
        <text/>
      </element>   

      <element name="start">
        <text/>
      </element>
 
    </element>
  </define>

  <!-- insert new InstModel parameter sets here -->

  <!-- end section for institutions -->

  <!-- begin section for converters -->
  <define name="converter">
    <element name="converter">
      <element name="name">
         <text/>
      </element>
      <element name="model">
      <choice>
        <ref name="SWUeUF6Converter"/> 
        <ref name="StubConverter"/>
        <!-- insert ref to new ConverterModels here -->
      </choice>
      </element>
    </element>
  </define>

  <define name="SWUeUF6Converter">
    <element name="SWUeUF6Converter">
      <element name="incommodity">
        <text/>
      </element>
      <element name="outcommodity">
        <text/>
      </element>
    </element>
  </define>

  <define name="StubConverter">
    <element name="StubConverter">
      <text/>
    </element>
  </define>

  <!-- insert new ConverterModel parameter sets here -->

  <!-- end section for converters -->

  <!-- begin section for recipes -->
  <define name="recipe">
    <element name="recipe">

      <element name="name">
        <text/>
      </element>

      <element name="basis">
        <text/>
      </element>

      <element name="unit">
        <text/>
      </element>

      <element name="total">
        <text/>
      </element>

      <oneOrMore>
      <element name="isotope">
        <element name="id">
          <text/>
        </element>
        <element name="comp">
          <text/>
        </element>
      </element>
      </oneOrMore>

    </element>
  </define>

  <define name="recipebook">
    <element name="recipebook">

      <element name="filename">
        <text/>
      </element>

      <element name="namespace">
        <text/>
      </element>

      <element name="format">
        <text/>
      </element>

    </element>
  </define>
  <!-- end section for recipes -->

  <!-- begin section for Stream -->
<!-- SepMatrix Stream List Arrangement Command -->
  <define name="Stream">
    <element name= "Stream">
      <list>
        <oneOrMore>
          <data type = "integer"/>
          <data type = "double"/> 
        </oneOrMore>
      </list>                            
    </element>
  </define>
<!-- end section for Stream -->

</grammar>


    
