src/cyclus-flat.rng.in

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<start>
<element name="simulation">
<interleave>

  <element name ="control">
    <interleave>
      <optional>
        <element name="simhandle"><data type="string"/></element>
      </optional>
      <element name="duration"><data type="nonNegativeInteger"/></element>
      <element name="startmonth"><data type="nonNegativeInteger"/></element>
      <element name="startyear"><data type="nonNegativeInteger"/></element>
      <element name="simstart"><data type="nonNegativeInteger"/></element>
      <element name="decay"><data type="integer"/></element>
    </interleave>
  </element>

  <oneOrMore>
    <element name="commodity">
      <element name="name"><text/></element>
    </element>
    <optional>
      <element name="solution_order"><data type="double"/></element>
    </optional>
  </oneOrMore>

  <oneOrMore>
    <element name="prototype">
    <interleave>
      <element name="name"><text/></element>

      <!-- For compatibility with nested schema format -->
      <!-- Facility/Inst/Region specific data -->
      <optional>
      <choice>

        <optional>
          <element name="lifetime">
            <data type="nonNegativeInteger"/>
          </element>
        </optional>

        <oneOrMore>
          <element name="allowedfacility"><text/></element>
        </oneOrMore>

        <group>
          <optional>
            <oneOrMore>
              <element name="availableprototype">
                <text/>
              </element>
            </oneOrMore>
          </optional>
          <optional>
            <element name="initialfacilitylist">
              <oneOrMore>
                <element name="entry">
                  <element name="prototype">
                    <text/>
                  </element>
                  <element name="number">
                    <data type="nonNegativeInteger"/>
                  </element>
                </element>
              </oneOrMore>
            </element>
          </optional>
        </group>

      </choice>
      </optional>
      <!-- end compatibility section -->

      <element name="model">
        <choice>
          @MODEL_SCHEMAS@
        </choice>
      </element>
      <zeroOrMore>
        <element name="incommodity"><text/></element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="outcommodity"><text/></element>
      </zeroOrMore>
    </interleave>
    </element>
  </oneOrMore>

  <oneOrMore>
    <element name="agent">
      <element name="name"><text/></element>
      <element name="prototype"><text/></element>
      <optional>
        <element name="parent"><text/></element>
      </optional>
    </element>
  </oneOrMore>

  <zeroOrMore>
    <element name="recipe">
      <element name="name"><text/></element>
      <element name="basis"><text/></element>
      <oneOrMore>
        <element name="isotope">
          <element name="id"><text/></element>
          <element name="comp"><text/></element>
        </element>
      </oneOrMore>
    </element>
  </zeroOrMore>

</interleave>
</element><!-- end of simulation -->
</start>

<!-- for compatibility with nested schema format -->
  <define name="capacity">
      <element name="capacity">
        <data type="double"/>
      </element>
  </define>

  <define name="commodprice">
      <element name="commodprice">
        <data type="double"/>
      </element>
  </define>

  <define name="componenttype">
      <element name="componenttype">
        <data type="string"/>
      </element>
  </define>

  <define name="incommodity">
      <element name="incommodity">
          <text/>
      </element>
  </define>

  <define name="input_capacity">
      <element name="input_capacity">
         <data type="double"/>
      </element>
  </define>

  <define name="innerradius">
      <element name="innerradius">
        <data type="double"/>
      </element>
  </define>

  <define name="inrecipe">
      <element name="inrecipe">
          <text/>
      </element>
  </define>

  <define name="inventorysize">
      <element name="inventorysize">
        <data type="double"/>
      </element>
  </define>

  <define name="name">
      <element name="name">
        <data type="string"/>
      </element>
  </define>

  <define name="outcommodity">
      <element name="outcommodity">
         <text/>
      </element>
  </define>

  <define name="output_capacity">
      <element name="output_capacity">
         <data type="double"/>
      </element>
  </define>

  <define name="outerradius">
      <element name="outerradius">
        <data type="double"/>
      </element>
  </define>

  <define name="outrecipe">
      <element name="outrecipe">
          <text/>
      </element>
  </define>

  <define name="startOperMonth">
      <element name="startOperMonth">
        <data type="nonNegativeInteger"/>
      </element>
  </define>

  <define name="startOperYear">
      <element name="startOperYear">
        <data type="nonNegativeInteger"/>
      </element>
  </define>

  <define name="tailsassay">
      <element name="tailsassay">
        <data type="double"/>
      </element>
  </define>
<!-- end compatibility section -->

</grammar>

